# (or WAR WAG WAB )

WAR WAG WAB

# (or NTR NTG NTB )

NTR NTG NTB

# (or SAR SAG SAB )

SAR SAG SAB

# (or QR QG QB )

QR QG QB

# (or NSWR NSWG NSWB )

NSWR NSWG NSWB

# (or VR VG VB )

VR VG VB

# (or TR TG TB )

TR TG TB

# (-> WAR (not NTR))

-WAR -NTR

# (-> WAR (not SAR))

-WAR -SAR

# (-> WAG (not NTG))

-WAG -NTG

# (-> WAG (not SAG))

-WAG -SAG

# (-> WAB (not NTB))

-WAB -NTB

# (-> WAB (not SAB))

-WAB -SAB

# (-> NTR (not WAR))

-NTR -WAR

# (-> NTR (not SAR))

-NTR -SAR

# (-> NTR (not QR))

-NTR -QR

# (-> NTG (not WAG))

-NTG -WAG

# (-> NTG (not SAG))

-NTG -SAG

# (-> NTG (not QG))

-NTG -QG

# (-> NTB (not WAB))

-NTB -WAB

# (-> NTB (not SAB))

-NTB -SAB

# (-> NTB (not QB))

-NTB -QB

# (-> SAR (not WAR))

-SAR -WAR

# (-> SAR (not NTR))

-SAR -NTR

# (-> SAR (not QR))

-SAR -QR

# (-> SAR (not NSWR))

-SAR -NSWR

# (-> SAR (not VR))

-SAR -VR

# (-> SAG (not WAG))

-SAG -WAG

# (-> SAG (not NTG))

-SAG -NTG

# (-> SAG (not QG))

-SAG -QG

# (-> SAG (not NSWG))

-SAG -NSWG

# (-> SAG (not VG))

-SAG -VG

# (-> SAB (not WAB))

-SAB -WAB

# (-> SAB (not NTB))

-SAB -NTB

# (-> SAB (not QB))

-SAB -QB

# (-> SAB (not NSWB))

-SAB -NSWB

# (-> SAB (not VB))

-SAB -VB

# (-> QR (not NTR))

-QR -NTR

# (-> QR (not SAR))

-QR -SAR

# (-> QR (not NSWR))

-QR -NSWR

# (-> QG (not NTG))

-QG -NTG

# (-> QG (not SAG))

-QG -SAG

# (-> QG (not NSWG))

-QG -NSWG

# (-> QB (not NTB))

-QB -NTB

# (-> QB (not SAB))

-QB -SAB

# (-> QB (not NSWB))

-QB -NSWB

# (-> NSWR (not QR))

-NSWR -QR

# (-> NSWR (not SAR))

-NSWR -SAR

# (-> NSWR (not VR))

-NSWR -VR

# (-> NSWG (not QG))

-NSWG -QG

# (-> NSWG (not SAG))

-NSWG -SAG

# (-> NSWG (not VG))

-NSWG -VG

# (-> NSWB (not QB))

-NSWB -QB

# (-> NSWB (not SAB))

-NSWB -SAB

# (-> NSWB (not VB))

-NSWB -VB

# (-> VR (not SAR))

-VR -SAR

# (-> VR (not NSWR))

-VR -NSWR

# (-> VG (not SAG))

-VG -SAG

# (-> VG (not NSWG))

-VG -NSWG

# (-> VB (not SAB))

-VB -SAB

# (-> VB (not NSWB))

-VB -NSWB

# (<-> WAR (and (not WAG) (not WAB)))

-WAG -WAR
-WAB -WAR
WAG WAB WAR

# (<-> WAG (and (not WAR) (not WAB)))

-WAR -WAG
-WAB -WAG
WAR WAB WAG

# (<-> WAB (and (not WAR) (not WAG)))

-WAR -WAB
-WAG -WAB
WAR WAG WAB

# (<-> NTR (and (not NTG) (not NTB)))

-NTG -NTR
-NTB -NTR
NTG NTB NTR

# (<-> NTG (and (not NTR) (not NTB)))

-NTR -NTG
-NTB -NTG
NTR NTB NTG

# (<-> NTB (and (not NTR) (not NTG)))

-NTR -NTB
-NTG -NTB
NTR NTG NTB

# (<-> SAR (and (not SAG) (not SAB)))

-SAG -SAR
-SAB -SAR
SAG SAB SAR

# (<-> SAG (and (not SAR) (not SAB)))

-SAR -SAG
-SAB -SAG
SAR SAB SAG

# (<-> SAB (and (not SAR) (not SAG)))

-SAR -SAB
-SAG -SAB
SAR SAG SAB

# (<-> QR (and (not QG) (not QB)))

-QG -QR
-QB -QR
QG QB QR

# (<-> QG (and (not QR) (not QB)))

-QR -QG
-QB -QG
QR QB QG

# (<-> QB (and (not QR) (not QG)))

-QR -QB
-QG -QB
QR QG QB

# (<-> NSWR (and (not NSWG) (not NSWB)))

-NSWG -NSWR
-NSWB -NSWR
NSWG NSWB NSWR

# (<-> NSWG (and (not NSWR) (not NSWB)))

-NSWR -NSWG
-NSWB -NSWG
NSWR NSWB NSWG

# (<-> NSWB (and (not NSWR) (not NSWG)))

-NSWR -NSWB
-NSWG -NSWB
NSWR NSWG NSWB

# (<-> VR (and (not VG) (not VB)))

-VG -VR
-VB -VR
VG VB VR

# (<-> VG (and (not VR) (not VB)))

-VR -VG
-VB -VG
VR VB VG

# (<-> VB (and (not VR) (not VG)))

-VR -VB
-VG -VB
VR VG VB

# (<-> TR (and (not TG) (not TB)))

-TG -TR
-TB -TR
TG TB TR

# (<-> TG (and (not TR) (not TB)))

-TR -TG
-TB -TG
TR TB TG

# (<-> TB (and (not TR) (not TG)))

-TR -TB
-TG -TB
TR TG TB

